<script src="{{ 'vipTiers.js' | asset_url }}" defer></script>
<span>This is liquid</span>
<div id="vipTiers"></div>

{% schema %}
{
  "name": "VIP Tiers",
  "target": "section",
  "settings": []
}
{% endschema %}
