<script src="{{ 'redeem.js' | asset_url }}" defer></script>
<span>This is liquid</span>
<div id="Redeem"></div>

{% schema %}
{
  "name": "Redeem points",
  "target": "section",
  "settings": []
}
{% endschema %}
