<script src="{{ 'referral.js' | asset_url }}" defer></script>
<span>This is liquid</span>
<div id="referral"></div>

{% schema %}
{
  "name": "Referral Program",
  "target": "section",
  "settings": []
}
{% endschema %}
