<script src="{{ 'point.js' | asset_url }}" defer></script>
<span>This is liquid</span>
<div id="point"></div>

{% schema %}
{
  "name": "Earn points",
  "target": "section",
  "settings": []
}
{% endschema %}
