<script src="{{ 'head.js' | asset_url }}" defer></script>
<span>This is liquid</span>
<div id="head"></div>

{% schema %}
{
  "name": "head",
  "target": "section",
  "settings": []
}
{% endschema %}
