<script src="{{ 'mine.js' | asset_url }}" defer></script>
<span>This is liquid</span>
<div id="mine"></div>

{% schema %}
{
  "name": "mine points",
  "target": "section",
  "settings": []
}
{% endschema %}
