@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --color-500: theme("colors.blue.500");
  --color-50: theme("colors.blue.50");
  --color-red-500: theme("colors.rose.500");

}

.themeColorBgClass {
  background-color: var(--color-500);
}

.themeColorBgViceClass {
  background-color: var(--color-50);
}
.themeColorFillClass {
  fill: var(--color-500);
}
.themeColorStrokeClass {
  stroke: var(--color-500);
}
.themeColorTextClass {
  color: var(--color-500);
}
.redColorTextClass {
  color: var(--color-red-500);
}

.themeColorBorderClass {
  border-color: var(--color-500);
}

@layer components {
  /* =======================白色 ======================= */
  .bgWhiteClass {
    @apply bg-white;
  }
  .textWhiteClass {
    @apply text-white;
  }
}
